# Objetos compilados
*.o

# Ada Library Information
*.ali

# Android Studio local config (no versionar)
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/
**/*.iml          # si prefieres generarlos con Gradle en cada máquina

# Pero MANTÉN versionados:
#   .idea/modules.xml
#   .idea/misc.xml
#   .idea/runConfigurations/
#   .idea/codeStyles/

# Archivos generados (APK, intermediarios, etc.)
appTurismo202501/app/build/intermediates/


# Variables de entorno y secretos
.env
WebTurismo2025-01/.env.txt
WebTurismo2025-01/*.zip