# Object file
*.o

# Ada Library Information
*.ali
"appTurismo202501/app/build/intermediates/apk/debug/app-debug.apk" 
"WebTurismo2025-01/.env.txt" 
"WebTurismo2025-01/.env.txt" 
"WebTurismo2025-01/.zip" 
