# Objetos compilados
*.o

# Ada Library Information
*.ali

# Android/Gradle build & artefactos
.gradle/
build/
appTurismo202501/.gradle/
appTurismo202501/app/build/

# Archivos generados (APK, intermediarios, etc.)
appTurismo202501/app/build/intermediates/

# IDE config (no versionar workspace)
.idea/
!/.idea/*.xml   # opcional: si quieres versionar prefs
!.idea/codeStyles

# Variables de entorno y secretos
.env
WebTurismo2025-01/.env.txt
WebTurismo2025-01/*.zip